# Binaries for programs and plugins
main
client/client
server/server
server/config.toml
api/api
api/config.toml
api/data/*
!api/data/.gitkeep
*.exe
*.exe~
*.so
*.dylib
*.dll

# Ignore binary output folders
bin/

# Ignore common editor/system specific metadata
.DS_Store
.idea/
.vscode/
*.iml

# ENV
.env

# vweb and database
*.db
*.js
